
body {
  margin: 0;
  width: 8fr;
  color: white;
  font-family: 'Istok Web', sans-serif;
  line-height: 1.5em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 50vh;
  grid-gap: 5%;
  background: #191363;
  background: -moz-linear-gradient(top, #191363 0%, #9120ad 32%, #bf2498 64%, #ffa889 100%);
  background: -webkit-linear-gradient(top, #191363 0%,#9120ad 32%,#bf2498 64%,#ffa889 100%);
  background: linear-gradient(to bottom, #191363 0%,#9120ad 32%,#bf2498 64%,#ffa889 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191363', endColorstr='#ffa889',GradientType=0 );
}

/*canvas {
  left: -50px;
  height: 100%;
  width: 100%;
} */

.nav {
  position: fixed;
  margin: 2% 0 0 2%;
  z-index: 999;
}

@keyframes blink {

  50% {
    opacity: 0;
  }

}

.dropbtn {
  opacity: .5;
  transition: .5s;
  animation: blink 2s linear infinite;
}

.dropbtn:hover {
  opacity: 1;
}

.navdrop {
  margin-top: -30px;
  padding-top: 40px;
  display: none;
  line-height: 1.2em;
  opacity: 0;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
  opacity: 1;
  }
}

.navdrop:hover {
  opacity: 1;
  transition: opacity .5s ease-in forward;
}

.navdrop a {
  text-decoration: none;
  padding: 5px 0 5px 0;
  display: inline-block;
}

.navdrop a:hover {
  text-decoration: underline;
}

.nav:hover .navdrop {
    display: block;
}

a:link, a:active, a:visited, a:hover {
  color: white;
}

@keyframes title {
  0% {
    text-shadow: 0 0 32px white;
    font-size: .75em;
    color: rgba(255, 255, 255, 0);
  }

  30% {
    text-shadow: 0 0 20px white;
    font-size: .75em;
    color: rgba(255, 255, 255, 0);
  }

  100% {
    text-shadow: 0 0 0px white;
    font-size: 1em;
    color: rgba(255, 255, 255, 1);
  }
}

.title {
  letter-spacing: 5px;
  text-align: center;
  align-self: center;
  grid-column: 1 / 8 span;
  grid-row: 1 / 2 span;
  animation: title 2s ease-in;
}

/*.star {
  grid-column: 1 / 8 span;
  grid-row: 1 / 2 span;
  background-image: url(http://24.media.tumblr.com/d423eb21f1e477fa355326299a4408fd/tumblr_mstilrbN8P1s5jjtzo1_500.gif);
  opacity: .5;
} */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  color: white;
  background: rgba(76, 175, 80, 0);
  border: 1px solid white;
  border-radius: 7px;
}

.button:hover {
  background-color: white;
  color: purple;
}

.button:active,
.button.is-checked {
  background-color: white;
}

.button.is-checked {
  color: purple;
}

.button:active {
  color: white;
  background: rgba(255, 255, 255, 0.5);
}

.button-group {
  grid-column: 2 / 6 span;
  grid-row: 4;
  margin-top: 30%;
}

@keyframes blurry {
  0% {
    text-shadow: 0 0 32px white;
    color: rgba(255, 255, 255, 0);
  }

  30% {
    text-shadow: 0 0 20px white;
    color: rgba(255, 255, 255, 0);
  }

  100% {
    text-shadow: 0 0 0px white;
    color: rgba(255, 255, 255, 1);
  }
}

h2 {
  margin-bottom: 8%;
}

ol {
  text-shadow: 0 0 20px white;
  color: rgba(255, 255, 255, 0);
  transition: 1.5s;
}

ol:hover {
  text-shadow: 0 0 0px white;
  color: rgba(255, 255, 255, 1);
}

#about {
  justify-self: center;
  align-self: center;
  grid-column: 3 / 4 span;
  grid-row: 3 / 2 span;
}

#howto {
  margin-top: 15%;
  letter-spacing: .5em;
  justify-self: center;
  grid-column: 1 / 8 span;
  grid-row: 5;
}

.alarmpic {
  background-image: url(alarm.png);
  background-repeat: no-repeat;
  margin: 15% 0 0 10%;
  grid-column: 5 / 3 span;
  grid-row: 6;
}

#alarm {
  grid-column: 2 / 3 span;
  grid-row: 6 / 2 span;
}

#rope {
  grid-column: 5 / 3 span;
  grid-row: 7 / 2 span;
}

.eyepic {
  background-image: url(eye.png);
  background-repeat: no-repeat;
  margin: 15% 0 0 10%;
  grid-column: 2 / 3 span;
  grid-row: 8;
}

#visualization {
  grid-column: 3 / 3 span;
  grid-row: 9 / 2 span;
}

.bedpic {
  background-image: url(bed.png);
  background-repeat: no-repeat;
  margin: 15% 0 0 10%;
  grid-column: 5 / 3 span;
  grid-row: 10;
}

#mind {
  grid-column: 2 / 3 span;
  grid-row: 11 / 2 span;
}

.featherpic {
  background-image: url(feather.png);
  background-repeat: no-repeat;
  margin: -30% 0 0 10%;
  grid-column: 1 / 3 span;
  grid-row: 13;
}

#success {
  grid-column: 4 / 3 span;
  grid-row: 13 / 2 span;
}

.teapic {
  background-image: url(tea.png);
  background-repeat: no-repeat;
  margin: -15% 0 0 10%;
  grid-column: 6 / 3 span;
  grid-row: 14;
}

#failure {
  grid-column: 2 / 3 span;
  grid-row: 14 / 2 span;
}

#tips {
  grid-column: 5 / 3 span;
  grid-row: 16 / 2 span;
}

#faq {
  grid-column: 3 / 4 span;
  grid-row: 18 / 2 span;
}

.question {
  font-weight: 700;
}
